/* Board */
.board {
  display: grid;
  align-items: center;
  justify-content: center;
  grid: repeat(4, 1fr) / repeat(4, 1fr);
  margin-top: 30px;
  background-color: var(--secondary-color);
  gap: 10px;
  border: 10px solid var(--secondary-color);
  border-radius: var(--round-corner);
  font-size: var(--big-font);
}

.board--box {
  text-align: center;
  border-radius: var(--round-corner);
  font-size: 0.8em;
  color: var(--contrast-color);
}
