.container {
  width: 50%;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  text-align: center;
}
