/* Main Container */
.main-container {
  width: 40%;
  margin: auto;
}

/* Header */
.header {
  display: grid;
  grid-template-areas:
    'title title . scores scores'
    'instructions instructions instructions new_game new_game';
  align-items: center;
  font-size: var(--normal-font);
}

.header--title {
  grid-area: title;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  color: var(--main-color);
  margin: 0px;
}

.header--scores {
  grid-area: scores;
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  color: var(--contrast-color);
}

.header--score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: var(--secondary-color);
  border-radius: var(--round-corner);
  padding: 5px 20px;
  margin-right: 5px;
}

.header--instructions {
  grid-area: instructions;
  font-size: 0.8em;
  color: var(--tertiary-color);
  text-align: center;
}

.header--new_game {
  grid-area: new_game;
  text-align: center;
  background-color: var(--tertiary-color);
  border: none;
  width: fit-content;
  padding: 10px 20px;
  border-radius: var(--round-corner);
  margin: auto;
  cursor: pointer;
  font-size: 0.8em;
  opacity: 0.9;
  transition: opacity 0.3s;
  font-weight: bold;
  color: var(--contrast-color);
}

.header--new_game:hover {
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .main-container {
    width: 60%;
  }
}

@media only screen and (max-width: 769px) {
  .main-container {
    width: 80%;
  }

  .header--title {
    font-size: 4em;
  }

  .header--score {
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 481px) {
  .main-container {
    width: 95%;
  }

  .header--title {
    font-size: 3em;
  }

  .header--score {
    font-size: 0.8em;
  }

  .header--instructions {
    font-size: 0.7em;
  }

  .header--new_game {
    font-size: 0.7em;
  }
}
