.main-title {
  color: var(--main-color);
  font-size: var(--big-font);
  font-weight: bold;
  margin: 0px;
}

.intro-text {
  color: var(--main-color);
}

.info-container {
  margin: 20px 0px;
  font-size: var(--small-font);
}

.score {
  background-color: var(--secondary-color);
  color: var(--contrast-color);
  padding: 5px 10px;
  margin-left: 10px;
  min-width: 100px;
  border-radius: var(--round-corner);
  font-size: var(--small-font);
}

.score-value {
  font-size: var(--normal-font);
  font-weight: bold;
}
