@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap';

:root {
  /* Colors */
  --main-color: #e76f51;
  --secondary-color: #9b8773;
  --tertiary-color: #f4a261;

  --initial-box-color: #eee4da;
  --final-box-color: #ffd700;
  --empty-box-color: #bbada0;

  --contrast-color: #ffffff;

  /* Font-Sizes */
  --normal-font: 18px;

  /* Border-Radius */
  --round-corner: 5px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
