@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500&display=swap';

:root {
  /* Colors */
  --main-color: #e76f51;
  --secondary-color: #8c8a93;
  --tertiary-color: #f4a261;
  --initial-box-color: #e9c46a;
  --final-box-color: #264653;
  --contrast-color: #ffffff;

  /* Font-Sizes */
  --small-font: 16px;
  --normal-font: 18px;
  --big-font: 80px;

  /* Border-Radius */
  --round-corner: 5px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
